.mosaicPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid black;
}

.tile {
  padding: 25px;
  border: 1px solid black;
}

.colorSelect {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}